body
{
  background-color: burlywood;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3 rem;
  margin: 0%;
  margin-top: 5px;
}
img
{
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
header
{
    background-color: coral;
    color: aliceblue !important;
    text-align: center;
    margin-bottom: 5px;
}
p
{
    color:darkred;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
p1
{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
footer
{
    background-color: blue;
    color: aliceblue !important;
}
h2
{
    color:firebrick;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
ul
{
    list-style-type:square;
    padding-left: 10%;
}
a:link
{
    color: brown;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
a:visited
{
    color:crimson;
    text-decoration:none;
    background-color: transparent;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
main
{
    margin-top: 20px;

}